.chat-input {
    width: 70%;
    height: 60px;
    background: #141932;
    border-radius: 15px;
    display: flex;
    margin: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
}

.chat-input::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 20px;
    background: var(--color-chat-input);
    border-radius: 50%;
    filter: blur(10px);
    z-index: 1;
}

.input {
    background: transparent;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 1.4;
    outline: none;
    border: none;
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.input::placeholder {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 1.4;
    border: none;
}
